# Node
node_modules/
backend/node_modules/

# Flutter
app/.dart_tool/
app/build/
app/.packages
app/.flutter-plugins
app/.flutter-plugins-dependencies

# Environment variables
.env
backend/.env

# OS / IDE
.DS_Store
.vscode/
.idea/

# Documentos de entrega / archivos pesados
*.pdf
*.docx
*.pptx

# Evitar documentos metidos por error en assets
app/assets/images/*.pdf
app/assets/images/*.docx
app/assets/images/*.pptx
