PORT=3000
MONGO_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority
JWT_SECRET=cambia_este_secreto_largo_en_desarrollo
BREVO_API_KEY=tu_api_key_de_brevo
